html, body {
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
}

.App .container {
  margin-top: 300px;
  margin-bottom: 20px;
}

/* header */
.header {
  margin-top: 5px;
  display: flex;
  font-size: 1.8em;
  flex-direction: row;
  background-color: #FF6633;
}

.header img {
  width: 84px;
  height: 84px;
  padding-left: 10px;
  margin-right: 5px;
}

.header .name {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}

.header .sign_in {
  color: white;
  margin-left: auto;
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
}

/* main */ 
.main {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.main .doctor {
  width: 100%;
}

.main .patient {
  width: 100%;
}

.main Button {
  margin-right: 20px;
}

/* doctor sign up */
.doctor_signup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* doctor right */

.doctor_right {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.doctor .row .card {
  max-height: 750px;
  overflow: auto;
}

/* doctor search */
.doctor_search {
  text-align: left;
}

.doctor_search .title {
  font-size: 1.25em;
  margin-bottom: 5px;
}

.doctor_search .ether {
  margin-bottom: 10px;
  width: 100px ;
}

/* doctor patient list */
.doctor_patient_list {
  text-align: left;
}

.doctor_patient_list .title {
  font-size: 1.25em;
  margin-bottom: 5px;
}

.doctor_patient_list .list_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.doctor_patient_list .list_item .list_button {
  margin-left: auto;
}

/* doctor treatment */
.doctor_treatment .btn_area {
  margin-top: 10px;
}

.doctor_view_treatments .title img {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
.doctor_view_treatments .title img:hover {
  cursor:pointer;
}
/* patient sign up */
.patient_sign_up {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* patient */
.patient .row .card {
  max-height: 750px;
  overflow: auto;
}

.patient_right {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* patient treatments */

.patient_treatments {
  text-align: left;
}

.patient_treatments .title {
  font-size: 1.25em;
  margin-bottom: 5px;
}

/* patient doctor list */
.patient_doctor_list {
  text-align: left;
}

.patient_doctor_list .title {
  font-size: 1.25em;
  margin-bottom: 5px;
}


/* fhir test */
.fhir_test {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.fhir_test .fhir_test_box Form{
  margin-bottom: 20px;
}


/* user header */
.user {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user_header > .navbar{
  box-shadow: 4px -1px 17px #ccc;
}

.user_header .container{
  margin-top: 10px;
  margin-left: 5%;
}

.user_header .container > .navbar-brand {
  font-size: 1.4rem;
}

.user_header .dropdown {
  margin-right: 5%;
}

.user_header .drop_btn {
  background-color: white;
  border-color: #34ce57;
  color: #34ce57;
  font-size: 1.2rem;
}

.user .login_container {
  display: flex;
  flex-direction: row;
  background-color: #e2e6ea;
  flex-grow: 1;
}

.user .login_container > .item_login {
  width: 50%;
  text-align: left;
  margin-top : 10%;
}

.user .login_container > .item_login > .login_form {
  width: 50%;
  margin-left: 20%;
  font-size: 1.1rem;
}

.user .login_container > .item_login > .login_form > span {
  display: block;
  font-size: 2rem;
  margin-bottom: 5%;
}

.user .login_container > .item_login > .login_form > Button {
  width: 100%;
}
.user .login_container > .item_img {
  width: 50%;
  margin-right: 3%;
  margin-top : 10%;
}
.user .login_container > .item_img > img {
  width: 100%;
}

/* Hospital Side Bar */
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 3.6rem;
  height: 7rem;
  text-align: center;
  vertical-align: middle;
  font-size:1.38rem;
}


.main-menu:hover,nav.main-menu.expanded {
  width: 14rem;
  overflow:visible;
}

.main-menu {
  background:#212121;
  border-right:1px solid #e5e5e5;
  position:relative;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:3.6rem;
  overflow:hidden;
  -webkit-transition:width .1s linear;
  transition:width .1s linear;
  transform:translateZ(0) scale(1,1);
  z-index:1000;
}

.main-menu>ul {
  margin:7px 0;
}

.main-menu li {
  position:relative;
  display:block;
  width: 14rem;
}

.main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#999;
  font-family: arial;
  font-size: 0.9rem;
  text-decoration:none;
  transform:translateZ(0) scale(1,1);
  transition:all .3s linear;
  transition:all .3s linear;
}

.main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:3.6rem;
  height:3rem;
  text-align:center;
  vertical-align:middle;
  font-size:1.38rem;
}

.main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:12rem;
  font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
  overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
}

a:hover,a:focus {
  text-decoration:none;
}

nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#5fa2db;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/* Hospital Content */
.hospital {
  height: 100%;
}

.hospital_main {
  background-color: #e2e6ea;
  height: 100%;
}

.hospital_content {
  margin-left: 5%;
  width: 100%;
  height: 100%;
}

.hospital_content > .side_menu {
  height: 100%;
}