html, body {
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
}

.App .container {
  margin-top: 300px;
  margin-bottom: 20px;
}

/* header */
.header {
  margin-top: 5px;
  display: flex;
  font-size: 1.8em;
  flex-direction: row;
  background-color: #FF6633;
}

.header img {
  width: 84px;
  height: 84px;
  padding-left: 10px;
  margin-right: 5px;
}

.header .name {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}

.header .sign_in {
  color: white;
  margin-left: auto;
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
}

/* main */ 
.main {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.main .doctor {
  width: 100%;
}

.main .patient {
  width: 100%;
}

.main Button {
  margin-right: 20px;
}

/* doctor sign up */
.doctor_signup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* doctor right */

.doctor_right {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.doctor .row .card {
  max-height: 750px;
  overflow: auto;
}

/* doctor search */
.doctor_search {
  text-align: left;
}

.doctor_search .title {
  font-size: 1.25em;
  margin-bottom: 5px;
}

.doctor_search .ether {
  margin-bottom: 10px;
  width: 100px ;
}

/* doctor patient list */
.doctor_patient_list {
  text-align: left;
}

.doctor_patient_list .title {
  font-size: 1.25em;
  margin-bottom: 5px;
}

.doctor_patient_list .list_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.doctor_patient_list .list_item .list_button {
  margin-left: auto;
}

/* doctor treatment */
.doctor_treatment .btn_area {
  margin-top: 10px;
}

.doctor_view_treatments .title img {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
.doctor_view_treatments .title img:hover {
  cursor:pointer;
}
/* patient sign up */
.patient_sign_up {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* patient */
.patient .row .card {
  max-height: 750px;
  overflow: auto;
}

.patient_right {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* patient treatments */

.patient_treatments {
  text-align: left;
}

.patient_treatments .title {
  font-size: 1.25em;
  margin-bottom: 5px;
}

/* patient doctor list */
.patient_doctor_list {
  text-align: left;
}

.patient_doctor_list .title {
  font-size: 1.25em;
  margin-bottom: 5px;
}


/* fhir test */
.fhir_test {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.fhir_test .fhir_test_box Form{
  margin-bottom: 20px;
}


/* user header */
.user {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user_header .container{
  margin-top: 10px;
  margin-left: 5%;
}

.user_header .container > .navbar-brand {
  font-size: 1.4rem;
}

.user_header .dropdown {
  margin-right: 5%;
}

.user_header .drop_btn {
  background-color: white;
  border-color: #34ce57;
  color: #34ce57;
  font-size: 1.2rem;
}

.user .login_container {
  display: flex;
  flex-direction: row;
  background-color: #e2e6ea;
  flex-grow: 1;
}

.user .login_container > .item_login {
  width: 50%;
  text-align: left;
  margin-top : 10%;
}

.user .login_container > .item_login > .login_form {
  width: 50%;
  margin-left: 20%;
  font-size: 1.1rem;
}

.user .login_container > .item_login > .login_form > span {
  display: block;
  font-size: 2rem;
  margin-bottom: 5%;
}

.user .login_container > .item_login > .login_form > Button {
  width: 100%;
}
.user .login_container > .item_img {
  width: 50%;
  margin-right: 3%;
  margin-top : 10%;
}
.user .login_container > .item_img > img {
  width: 100%;
}