html, body {
  height: 100%;
  margin: 0;
}
#root {
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
}

.App .container {
  margin-top: 300px;
  margin-bottom: 20px;
}

/* header */
.header {
  margin-top: 5px;
  display: flex;
  font-size: 1.8em;
  flex-direction: row;
  background-color: #FF6633;
}

.header img {
  width: 84px;
  height: 84px;
  padding-left: 10px;
  margin-right: 5px;
}

.header .name {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}

.header .sign_in {
  color: white;
  margin-left: auto;
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
}

/* main */ 
.main {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.main .doctor {
  width: 100%;
}

.main .patient {
  width: 100%;
}

.main Button {
  margin-right: 20px;
}

/* doctor sign up */
.doctor_signup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* doctor right */

.doctor_right {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.doctor .row .card {
  max-height: 750px;
  overflow: auto;
}

/* doctor search */
.doctor_search {
  text-align: left;
}

.doctor_search .title {
  font-size: 1.25em;
  margin-bottom: 5px;
}

.doctor_search .ether {
  margin-bottom: 10px;
  width: 100px ;
}

/* doctor patient list */
.doctor_patient_list {
  text-align: left;
}

.doctor_patient_list .title {
  font-size: 1.25em;
  margin-bottom: 5px;
}

.doctor_patient_list .list_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.doctor_patient_list .list_item .list_button {
  margin-left: auto;
}

/* doctor treatment */
.doctor_treatment .btn_area {
  margin-top: 10px;
}

.doctor_view_treatments .title img {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
.doctor_view_treatments .title img:hover {
  cursor:pointer;
}
/* patient sign up */
.patient_sign_up {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* patient */
.patient .row .card {
  max-height: 750px;
  overflow: auto;
}

.patient_right {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* patient treatments */

.patient_treatments {
  text-align: left;
}

.patient_treatments .title {
  font-size: 1.25em;
  margin-bottom: 5px;
}

/* patient doctor list */
.patient_doctor_list {
  text-align: left;
}

.patient_doctor_list .title {
  font-size: 1.25em;
  margin-bottom: 5px;
}


/* fhir test */
.fhir_test {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.fhir_test .fhir_test_box Form{
  margin-bottom: 20px;
}


/* user header */
.user {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user_header > .navbar{
  box-shadow: 4px -1px 17px #ccc;
}

.user_header .container{
  margin-top: 10px;
  margin-left: 5%;
}

.user_header .container > .navbar-brand {
  font-size: 1.4rem;
}

.user_header .dropdown {
  margin-right: 5%;
}

.user_header .drop_btn {
  background-color: white;
  border-color: #34ce57;
  color: #34ce57;
  font-size: 1.2rem;
}

/* login */

.user .login_container {
  display: flex;
  flex-direction: row;
  background-color: #e2e6ea;
  flex-grow: 1;
}

.user .login_container > .item_login {
  width: 50%;
  text-align: left;
  margin-top : 10%;
}

.user .login_container > .item_login > .login_form {
  width: 60%;
  margin-left: 20%;
  font-size: 1.1rem;
  background-color: white;
  padding: 2% 2% 2% 2%;
  border-radius: 3%;
}

.user .login_container > .item_login > .login_form > span {
  display: block;
  font-size: 2rem;
  margin-bottom: 5%;
}

.user .login_container > .item_login > .login_form > Button {
  width: 100%;
}
.user .login_container > .item_img {
  width: 50%;
  margin-right: 3%;
  margin-top : 10%;
}
.user .login_container > .item_img > img {
  width: 100%;
}

/* Hospital Side Bar */
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 3.6rem;
  height: 7rem;
  text-align: center;
  vertical-align: middle;
  font-size:1.38rem;
}


.main-menu:hover,nav.main-menu.expanded {
  width: 14rem;
  overflow:visible;
}

.main-menu {
  background:#212121;
  border-right:1px solid #e5e5e5;
  position:relative;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:3.6rem;
  overflow:hidden;
  -webkit-transition:width .1s linear;
  transition:width .1s linear;
  transform:translateZ(0) scale(1,1);
  z-index:1000;
}

.main-menu>ul {
  margin:7px 0;
}

.main-menu li {
  position:relative;
  display:block;
  width: 14rem;
}

.main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#999;
  font-family: arial;
  font-size: 0.9rem;
  text-decoration:none;
  transform:translateZ(0) scale(1,1);
  transition:all .3s linear;
  transition:all .3s linear;
}

.main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:3.6rem;
  height:3rem;
  text-align:center;
  vertical-align:middle;
  font-size:1.38rem;
}

.main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:12rem;
  font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
  overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
}

a:hover,a:focus {
  text-decoration:none;
}

nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#5fa2db;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/* Hospital Content */
.hospital {
  height: 100%;
}

.hospital_main {
  background-color: #e2e6ea;
  height: 100%;
}

.hospital_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.hospital_content > .side_menu {
  height: 100%;
}

.hospital_content > .right_content {
  width: 100%;
  overflow: auto;
}

/* Hospital patients */
.hospital_patients {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.hospital_info_container {
  background-color: white;
  margin: 2% 2% 2% 2%;
  padding: 1.5% 1.5% 1.5% 1.5%;
  border-radius: 10px;
}

.hospital_info_container > .title {
  font-size: 1.4rem;
}

.hospital_info_container > .address {
  margin-top: 1%;
  margin-bottom: 5px
}

.patient_list_container {
  margin: 0% 2% 2% 2%;
  display: flex;
  flex-direction: row;
  columns: 2 auto 
  ;
}

.patient_list_left {
  width: 50%;
}

.patient_list_container > .patient_list_left > .item_patient_left {
  margin: 2% 2% 2% 2%;
  background-color: white;
  border-radius: 10px;
  padding: 2.5% 2.5% 2.5% 2.5%;
}

.patient_list_right {
  width: 50%;
}

.patient_list_container > .patient_list_right > .item_patient_right {
  margin: 2% 2% 2% 2%;
  background-color: white;
  border-radius: 10px;
  padding: 2.5% 2.5% 2.5% 2.5%;
}

.item_patient_left > .name {
  font-size: 1.3rem;
  margin-bottom: 1%;
}

.item_patient_left > .doctor {
  margin-bottom: 0.5%;
}

.item_patient_left > .address {
  margin-bottom: 0.5%;
}

.item_patient_left > .createdAt {
  margin-bottom: 0.5%;
}

.item_patient_right > .name {
  font-size: 1.3rem;
  margin-bottom: 1%;
}

.item_patient_right > .doctor {
  margin-bottom: 0.5%;
}

.item_patient_right > .address {
  margin-bottom: 0.5%;
}

.item_patient_right > .createdAt {
  margin-bottom: 0.5%;
}

/* Hospital PHR */
.hospital_send_phr {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 2% 2% 2% 2%;
  padding: 2% 2% 2% 2%;
  border-radius: 2%;
}

.phr_top {
  display: flex;
  flex-direction: row;
}

.phr_top_left {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  padding-right: 10px;
}


.phr_top_left > .col_2 {
  display: flex;
  flex-direction: row;
}

.phr_top_left > .col_2 > .mb-3 {
  margin-right: 10px;
}

.phr_top_right {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 10px;
  width: 49%;
}

.phr_top_right > .col_2 {
  display: flex;
  flex-direction: row;
}

.phr_top_right > .col_2 > .mb-3 {
  margin-right: 10px;
}

.phr_bottom {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.phr_bottom > .col_1{
  width: 48%;
}

.phr_bottom > .col_3 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.phr_bottom > .col_3 > .mb-3 {
  margin-right: 10px;
}

.phr_bottom > .col_3 > .btn_phr_send {
  margin-left: auto;
  width: 10%;
}

/* Doctor */
.dotor_container {
  height: 100%;
}

.doctor_main {
  background-color: #e2e6ea;
  height: 100%;
}

.doctor_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.doctor_content > .side_menu {
  height: 100%;
}

.doctor_content > .right_content {
  width: 100%;
}

.doctor_content > .right_content > .content {
  height: 100%;
  overflow: auto;
}


/* Doctor Request */
.doctor_reqeust {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.doctor_reqeust > .request_container {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.request_container > .request_form {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20% 2% 20% 2%;
}

.doctor_reqeust > .result_container {
  width: 50%;
  margin: 2% 2% 2% 2%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.result_container > .item_result {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1%;
  margin-top: 2%;
  padding: 2% 2% 2% 2%;
  text-align: left;
}

.item_result > .pid {
  font-size: 1.3rem;
  margin-bottom: 1%;
}

.item_result > .symptom {
  margin-bottom: 0.5%;
}

.item_result > .doctor {
  margin-bottom: 0.5%;
}

.item_result > .assigner {
  margin-bottom: 0.5%;
}

.item_result > .createdAt {
  margin-bottom: 0.5%;
}

.result_container > .item_result > .colum_2_item {
  display: flex;
  flex-direction: row;
}

.item_result > .colum_2_item > .btn_request {
  margin-left: auto;
}

